.container {
    width: 660px;
    height: 250px;
    border: 1px solid black;
    text-align: center;
    
}
.output {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: right;
}
span {
    margin-right: 20px;
}
.button {
    width: 90px;
    height: 30px;
    background-color: #dadce0;
    
}
